html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* margin: 0;
  width: 100%;
  height: 100%; */
  color:rgb(210, 210, 210);
  background-color: rgb(13, 13, 13)
}
a {
  color: #ff8c00;
  text-decoration: none;
  text-decoration: underline;
}
a:visited {
  color: #c64c00;
}
a:hover {
  color: #ababab;
  text-decoration: underline;
}
a:active {
  color: #dfdfdf;
  text-decoration: underline;
}
label {
  font-weight: bold;
}
body {
  color: var(--text);
  background-color: var(--bg);
  font-size: 1.15rem;
  line-height: 1.5;
  margin: 500;
}
div {
  padding-right: 10%;
  padding-left: 10%;
}
input, option, select {
  color:rgb(193, 193, 193);
  background-color: rgb(59, 59, 59)
}
@media (max-width: 768px) {
  input, option, select, label, form {
      font-size: 20px; /* Slightly larger font size on smaller screens */
      padding: 0.75rem; /* Increase padding for easier touch interaction */
      width: 70vw; /* Make input/select fields take full width on mobile */
  }
}
#output-video {
  width: 100%;
  height: auto;
  max-width: 100vw; /* This ensures that the video doesn't exceed the viewport width */
  display: block; /* Ensures no extra space below the video */
  margin: 0 auto; /* Centers the video horizontally */
}
#subs {
  background-color: rgb(39, 39, 39);
  border: 2px solid black;
  padding: 10px;
}
#errors {
  color: red
}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #a56e00;
  color: #e0e0e0;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #916600;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #303030;
}